<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Cutie System</h1>
    <a href="{% url 'registration_page' %}" class="button">Informant</a>
    <a href="{% url 'admin_page' %}" class="button">Main Admin</a>
    
</body>
</html>
