{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom CSS for Background -->
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'background/backgroundbipsu.jpg' %}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body class="relative flex items-center justify-center min-h-screen">

    <!-- Top Right Links -->
    <div class="absolute top-4 right-4 space-x-2 md:space-x-4 text-sm md:text-base">
        <a href="{% url 'registration_page' %}" class="text-white font-semibold hover:underline">
            Sign Up
        </a>
        
    </div>

    <!-- Centered Content -->
    <div class="bg-white bg-opacity-90 p-6 sm:p-10 rounded-lg shadow-2xl max-w-xs sm:max-w-md md:max-w-lg w-full text-center mx-4">
        <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-gray-900 mb-4 sm:mb-6 md:mb-8">
            Welcome to BiPSUmbongan
        </h1>
        <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4">
            <a href="{% url 'login' %}" class="bg-blue-800 hover:bg-blue-700 text-white font-semibold py-2 sm:py-3 px-6 sm:px-8 rounded-lg text-center flex items-center justify-center transition-transform transform hover:scale-105">
                Informant
            </a>
            <a href="{% url 'legal_office_login' %}" class="bg-blue-800 hover:bg-blue-700 text-white font-semibold py-2 sm:py-3 px-6 sm:px-8 rounded-lg text-center flex items-center justify-center transition-transform transform hover:scale-105">
                    Administrator
            </a>
            <a href="{% url 'office_admin_login' %}" class="bg-blue-800 hover:bg-blue-700 text-white font-semibold py-2 sm:py-3 px-6 sm:px-8 rounded-lg text-center flex items-center justify-center transition-transform transform hover:scale-105">
                Offices
            </a>
        </div>
    </div>

</body>

</html>


